{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "eol-last": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}